*{
	box-sizing: border-box;
}

a{
	display: block;
	text-decoration:none;
}
body{
	background: url(images/fon.png);
}
.header{
	background-color: white;
		padding: 25px 0px;
	background: rgba(255,255,255, 0.75);
}
.container{
	width: 1170px;
	margin: 0 auto;
	display: flex;

}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	
}
.flex-shop{
	display: flex;
}
.flex-end{
justify-content: space-between;
}
.col-md-3{
	width: 25%;
}
.col-md-4{
	width: 33.3%;
}
.col-md-6{
	width: 50%;
}
.col-md-9{
	width: 75%;
}
.col-md-8{
	width: 66.5%;
}

.logo{
	margin-top: 7px;
	width: 177px;
}
.menu li{
	float: left;
	height: 50px;
	line-height: 50px;
	width: 144px;
	position: relative;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 21px;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child{
	border-right: 1px solid #2c71b8;
}

.menu li:nth-child(2):hover{
	border-left:0px;
}
.menu a{
	color: #2c71b8;

}
.menu a:hover{
	color: white;
}
.menu li:hover{
	background-color:  #2c71b8;
}
.search{
	background: transparent;
	border: 1px solid #2c71b8;
	width: 100%;
	height: 40px;
	padding-left: 19px;
	padding-top: 6px;
}
.form{
	margin-left: 20px;
	width: 200px;
	position: relative;
	margin-top: 5px;

}
.search::placeholder{
	font-size: 21px;
	color: #2c71b8;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.sbm{
	background: url(images/search.png) no-repeat;
	background-position: 50% 50%;
	padding: 0px;
	border: 0px;
	height: 30px;
	width: 30px;
	background-color: #2c71b8;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.korz{
	width: 40px;
	height: 40px;
	background: url(images/korz.png) no-repeat center;
	background-color: white;
	cursor: pointer;

}
.shop{
	position: relative;
	margin-left: 30px;
	margin-top: 5px;
	float: right;

}
.circle{
	width: 20px;
	height: 20px;
	background-color: #2c71b8;
	color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: -11px;
	left: -11px;
}
.submenu {
	display: none;
}
.submenu li{
	width: 289px;
	background-color: #2c71b8;
	z-index: 5;
}
.submenu a{
	color: white;
}
.submenu li:hover{
	color: #2c71b8;
	background-color: white;
}
.submenu a:hover{
	color: #2c71b8;
}
.menu li:nth-child(2):hover > .submenu{
	display:block;
	z-index: 1;
}
.updown {
	width: 16px;
	height: 16px;
	background: url(images/up.png);
	position: absolute;
	top: 18px;
	right: 6px;
}

.updown > .menu li:nth-child(2):hover{
	background: url(images/down.png);
}

.Products:hover > .updown{
	background: url(images/down.png);
}
.Products{
	color: #2c71b8;
	cursor: pointer;
}
.Products:hover{
	background-color: #2c71b8;
	color: white;
}
.flex-no{
	flex-direction:column;
}
.slider{
	height: 400px;
}
.flex-end{
	justify-content: flex-end;
}
.filter{
	background-color: white;
	background-color: rgba(255,255,255, 0.2);
	padding: 33px 30px;

}
.filter span{
	text-transform : uppercase;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;

}

.filter label{
	position: relative;
	display: block;
	padding-left: 20px;
	padding-top: 25px;
	font-size: 21px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.filterRam{
	text-transform: uppercase;
}
.filterItems{
	margin-top: 65px;
	display: block;
}
.filter input[type="checkbox"]{
	display: none;
}
.filter label:before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid white;
	position: absolute;
	box-sizing: border-box;
	list-style-type: none;
	left: 0px;
	bottom: 5px;

}
.filter input[type="checkbox"]:checked + label:before{
	background-color: white;
}
.filterShowMore{
	background-color: rgba(255,255,255,0);
	font-size: 21px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border:0px;
	margin-top: 30px;
	cursor: pointer;
	margin-left: 16px;
}
.filterSubmit{
	width: 210px;
	height: 50px;
	border: 1px solid white;
	font-size: 21px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	background-color: rgba(44,113,184, 1);
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 30px;
	margin-left: 12px;
	justify-content: center;
}
.filterSubmit:hover{
 	background-color: rgba(255,255,255, 0.25);
	}
.breadcrumbs {
	padding-left: 19px;
	padding-top: 30px;
}
.breadcrumbs li {
	float: left;
	display: block;
	opacity: 0.5;
}
.breadcrumbs li a {
	color: #ffffff;
}
.active{
	color: #ffffff;
	text-decoration: underline;
}
.headmain{
	font-size: 48px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding-top: 23px;
	padding-left: 19px;
}

.down{
	width: 16px;
	height: 16px;
	background: url(images/down.png);
	position: absolute;
	top: 13px;
	right: 14px;
}
.sort{
	margin-top: 20px;
	margin-left: 149px;
	float: right;
}
.sortbyprice{

}
.sortbyprice li{
	width: 270px;
	height: 40px;
	border: 1px solid white;
	color: white;
	background-color: #2c71b8;
	position: relative;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 17px;
	line-height: 40px;
	padding-left: 18px;
	box-sizing: border-box;
}

.subsort li{
	position: relative;
	margin-right: -1px;
	background-color: #2c71b8;
	padding-left: 18px;
	border-top: 0px solid white;
	margin-top: -1px;
	border-bottom: 0px solid white;
	cursor: pointer;

}
.subsort li:last-child{
		border-bottom:  1px solid white;
}
.subsort li:hover{
	color: #2c71b8;
	background-color: white;
}

.subsort{
	display: none;
	position: relative;
}

.sortbyprice li:hover > .subsort{
	display: block;
	z-index: 5;
}

	.photodevice{
		background-color: #cdddee;
		width: 270px;
		height: 180px;
		line-height: 180px;
		border: 1px solid white;
		text-align: center;
		opacity: 0.75;
		border-bottom: 0px;
		z-index: 0;
		position: relative;
		box-sizing: border-box;

	}
	.photodevice img{
		vertical-align: middle;
	}
	.description{
	height: 473px;
	width: 270px;
	background-color: rgba(44,113,184, 0.75);
	border: 1px solid white;
	box-sizing: border-box;
}
.product{
	padding-left: 21px;
	padding-top: 50px;
	box-sizing: border-box;
}
.square{
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	border: 1px solid #2c71b8;
	background: url(images/icon8.png) no-repeat center;
	top: 9px;
	right: 9px;
}
.square:hover{
	background: url(images/icon6.png)no-repeat center;
	background-color:  #2c71b8;
}

.like-button{
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	border: 1px solid #2c71b8;
	background: url(images/icon7.png)no-repeat center;
	background-color:  #2c71b8;
	top: 49px;
	right: 9px;
}
.like{
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	border: 1px solid #2c71b8;
	background: url(images/icon5.png) no-repeat center;
	top: 49px;
	right: 9px;

}
.likeactive{
	background: url(images/icon7.png)no-repeat center;
	background-color:  #2c71b8;
}
.like:hover{
	background: url(images/icon7.png)no-repeat center;
	background-color:  #2c71b8;
}

.DName{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 30px;
}
.description{
	padding-top: 15px;
	padding-left: 15px;
}
.description p{
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	padding-top: 15px;
}
.description p span{
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	padding-top: 15px;
}
.price{
	font-size: 48px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align: center;
	padding-top: 30px;
}
.price sup{
	font-size: 30px;
	vertical-align: top;
	padding-left: 10px;
}
.moredetails{
	width: 210px;
	height: 50px;
	border: 1px solid white;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	background-color: rgba(44,113,184, 1);
	text-align: center;
	line-height: 50px;
 	margin-left: 14px;
 	margin-top: 15px;
 	cursor:pointer;
}
.moredetails:hover{
	background-color: rgba(255,255,255, 0.25);
}
.addcart{
	width: 210px;
	height: 50px;
	border: 1px solid white;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
		background-color: rgba(44,113,184, 1);
	line-height: 50px;
 	margin-left: 14px;
 	margin-top: 15px;
 	cursor:pointer;
 	position: relative;
}
.addcart:hover{
 	background-color: rgba(255,255,255, 0.25);
	}
.addkorz{
	width: 30px;
	height: 30px;
	background: url(images/icon2.png)no-repeat center;
	position: absolute;
	top:10px;
	right: 5px;
}
.LoadMoreProducts{
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	padding-top: 40px;
	padding-bottom: 90px;
	margin: 0 auto;
	left: 0;
	right: 0;
	cursor: pointer;
}

.copyright{
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #2c71b8;
	margin: 0 auto;
	left: 0;
	right: 0;
}
footer{
	background-color: rgba(255,255,255,0.75);

}
.wrap {
	width: 1170px;
	margin: 0 auto;
}
.slider-block > div{
	font-size: 50px;
	text-align: center;
	color: white;
	padding: 150px 0;
}
.slick-prev {
    left: 0px;
    z-index: 10;
}
.slick-prev:before, .slick-next:before {
	color:red;
	font-size: 50px;
}
.slick-next {
    right: 0px;
}
/* slider div {
	text-align: center;
	color: white;
	font size: 50px;
	padding: 50px 0;
} */