* {
	box-sizing: border-box;
}
body {
	font-family: Roboto;
	background-image: url(images/patt.png);
}
	/* Header */

.container {
	width: 1170px;
	margin: 0 auto;
}
.row:after, .menu:after, .row_2:after {
	content: '';
	display: block;
	clear: both;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
[class*="col-"] {
	float: left;
}
.header {
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}
.menu li {
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
	position: relative;
	z-index: 10;
}
.menu li:last-child {
	border-right: 1px solid #2c71b8;
}
.menu a {
	display: block;
	text-decoration: none;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 21px;
	font-weight: 300;
	color:#2c71b8;
}
.menu a:hover {
	background-color: #2c71b8;
	color: white;
}
.menu li:hover> .submenu {
	display:block;
}
.logo {
	margin-top: 7px;
}
.submenu {
	display:none;
	position: absolute;
}
.submenu li {
	width: 200%;
	background-color:#2c71b8;
	color: white;
	border:none;
}
.submenu li a {
	color:white;
	text-align: left;
	padding-left:30px;
}
.submenu li:last-child {
	margin-bottom: 30px;
}
.submenu li a:hover {
	background-color: white;
	color: #2c71b8;
}
.col-md-8 {
	position: relative;
}
.search {
	margin-left: 30px;
	margin-top: 5px;
	height: 40px;
	padding-left: 19px;
	border: 1px solid #2c71b8;
}
.search::placeholder {
	color:#2c71b8;
}
.submit {
	background: url(images/search.png) no-repeat;
	background-position: 50% 50%;
	padding: 0px;
	border: 0px;
	height: 30px;
	width: 30px;
	background-color: #2c71b8;
	position: absolute;
	top: 10px;
	right: 5px;
	cursor: pointer;
}
.submit::after {
	content: '';
	display: block;
	clear: both;
}
.submit:hover {
	background: #0b7dda;
}
.cart {
	display: block;
	width: 40px;
	height: 40px;
	background: url(images/icon.png) no-repeat;
	background-color: white;
	margin-top: -45px;
	margin-left: -25px;
	position: relative;
	background-position: center;
}
.count_of_purchases {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #2c71b8;
	text-align: center;
	right: 30px;
	bottom: 30px;
	color: white;
	font-size: 12px;
	padding-top:3px;
}
		/* Main */
.main_container {
	max-width: 1170px;
	margin: 0 auto;
}
.col-md-3 {
	width: 25%;
}
.col-md-9 {
	width: 75%;
	position: relative;
}
.col-md-4 {
	width: 25%;
	position: absolute;
	right: 63px;
	top: 75px;
	margin-right: -18px;
}
.characteristics {
	border-right: 1px solid white;
}
.home_page {
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 24px;
	color:white;
}
.laptop {
	display: inline;
	text-decoration: underline;
	color:white;
}
.laptops_and_tablets {
	 font-weight: bold;
	 font-size: 48px;
	 margin-left: 30px;
	 color: white;
}
.down{
	width: 16px;
	height: 16px;
	background: url(images/down.png);
	position: absolute;
	top: 13px;
	right: 14px;
}
.sort{
	margin-top: 0px;
	margin-left: 50px;
	margin-right: -53px;
	float: right;
}
.sortbyprice{

}
.sortbyprice li{
	width: 270px;
	height: 40px;
	border: 1px solid white;
	color: white;
	background-color: #2c71b8;
	position: relative;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 17px;
	line-height: 40px;
	padding-left: 18px;
	box-sizing: border-box;
}

.subsort li{
	position: relative;
	margin-right: -1px;
	background-color: #2c71b8;
	padding-left: 18px;
	border-top: 0px solid white;
	margin-top: -1px;
	border-bottom: 0px solid white;
	cursor: pointer;

}
.subsort li:last-child{
		border-bottom:  1px solid white;
}
.subsort li:hover{
	color: #2c71b8;
	background-color: white;
}

.subsort{
	display: none;
	position: relative;
}

.sortbyprice li:hover > .subsort{
	display: block;
	z-index: 5;
}
.photodevice{
		background-color: #cdddee;
		width: 270px;
		height: 180px;
		line-height: 180px;
		border: 1px solid white;
		text-align: center;
		opacity: 0.75;
		border-bottom: 0px;
		z-index: 0;
		position: relative;
		box-sizing: border-box;

	}
	.photodevice img{
		vertical-align: middle;
	}
	.description{
	height: 473px;
	width: 270px;
	background-color: rgba(44,113,184, 0.75);
	border: 1px solid white;
	box-sizing: border-box;
}
.product{
	padding-left: 0px;
	padding-top: 50px;
	box-sizing: border-box;
	float: left;
}
.square{
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	border: 1px solid #2c71b8;
	background: url(images/icon8.png) no-repeat center;
	top: 9px;
	right: 9px;
}
.square:hover{
	background: url(images/icon6.png)no-repeat center;
	background-color:  #2c71b8;
}

.like-button{
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	border: 1px solid #2c71b8;
	background: url(images/icon7.png)no-repeat center;
	background-color:  #2c71b8;
	top: 49px;
	right: 9px;
}
.like{
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	border: 1px solid #2c71b8;
	background: url(images/icon5.png) no-repeat center;
	top: 49px;
	right: 9px;

}
.likeactive{
	background: url(images/icon7.png)no-repeat center;
	background-color:  #2c71b8;
}
.like:hover{
	background: url(images/icon7.png)no-repeat center;
	background-color:  #2c71b8;
}

.DName{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 30px;
}
.description{
	padding-top: 15px;
	padding-left: 15px;
}
.description p{
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	padding-top: 15px;
}
.description p span{
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	padding-top: 15px;
}
.price{
	font-size: 48px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align: center;
	padding-top: 30px;
}
.price sup{
	font-size: 30px;
	vertical-align: top;
	padding-left: 10px;
}
.moredetails{
	width: 210px;
	height: 50px;
	border: 1px solid white;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	background-color: rgba(44,113,184, 1);
	text-align: center;
	line-height: 50px;
 	margin-left: 14px;
 	margin-top: 15px;
 	cursor:pointer;
}
.moredetails:hover{
	background-color: rgba(255,255,255, 0.25);
}
.addcart{
	width: 210px;
	height: 50px;
	border: 1px solid white;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
		background-color: rgba(44,113,184, 1);
	line-height: 50px;
 	margin-left: 14px;
 	margin-top: 15px;
 	cursor:pointer;
 	position: relative;
}
.addcart:hover{
 	background-color: rgba(255,255,255, 0.25);
	}
.addkorz{
	width: 30px;
	height: 30px;
	background: url(images/icon2.png)no-repeat center;
	position: absolute;
	top:10px;
	right: 5px;
}
.filter{
	background-color: white;
	background-color: rgba(255,255,255, 0.2);
	padding: 33px 30px;

}
.filter span{
	text-transform : uppercase;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;

}

.filter label{
	position: relative;
	display: block;
	padding-left: 20px;
	padding-top: 25px;
	font-size: 21px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.filterRam{
	text-transform: uppercase;
}
.filterItems{
	margin-top: 65px;
	display: block;
}
.filter input[type="checkbox"]{
	display: none;
}
.filter label:before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid white;
	position: absolute;
	box-sizing: border-box;
	list-style-type: none;
	left: 0px;
	bottom: 5px;

}
.filter input[type="checkbox"]:checked + label:before{
	background-color: white;
}
.filterShowMore{
	background-color: rgba(255,255,255,0);
	font-size: 21px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border:0px;
	margin-top: 30px;
	cursor: pointer;
	margin-left: 16px;
}
.filterSubmit{
	width: 210px;
	height: 50px;
	border: 1px solid white;
	font-size: 21px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	background-color: rgba(44,113,184, 1);
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 30px;
	margin-left: 12px;
	justify-content: center;
}
.filterSubmit:hover{
 	background-color: rgba(255,255,255, 0.25);
	}